* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: 2px solid black;
    position: fixed;
    left: 50px;
    top: 50px;
}

#players-panel {
    position: fixed;
    left: 900px;
    top: 50px;
}

tr, td, th {
    border: 2px solid black;
    text-align: center;
    line-height: 100%;
    padding: 2px;
}

tr[inactive] {
    background-color: grey;
}

.key-select-left, .key-select-right {
    text-align: center;
    width: 100px;
}

#scores {
    position: fixed;
    left: 900px;
    top: 300px;
}

#btn-start {
    position: fixed;
    left: 900px;
    top: 270px;
}

#lap-goal-container {
    position: fixed;
    left: 950px;
    top: 270px;
}

#lap-goal {
    width: 36px;
}

#equalize-starts-container {
    position: fixed;
    left: 1110px;
    top: 270px;
}

.player-checkbox {
    width: 32px;
    height: 32px;
}

.right-keys {
    visibility: hidden;
}